<h1>Welcome to the UMD Web developers club's offical site!</h1>
<p>Navigation</p>
 Home, 
<%= link_to 'About', controller: 'about' %>, 
<%= link_to 'Schedule', controller: 'schedule'%>, 
<%= link_to 'Forum/Blog posts', controller: 'blog' %>,
<%= link_to 'Contact', controller: 'contact'%>, login/sign up
